.image-swiper {
  display: flex;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slide-container {
  display: flex;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding-right: 0;
}

.slide-container > div {
  scroll-snap-align: start;
}

.slide-container::-webkit-scrollbar {
  height: 16px;
}

.slide-container::-webkit-scrollbar-track {
  height: 16px;
  border-radius: 10px;
}

.slide-container::-webkit-scrollbar-thumb {
  height: 16px;
  background: rgb(96, 96, 96);
  border-radius: 10px;
}

.slide-container::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}

.left-button-container {
  position: absolute;
  left: 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.right-button-container {
  position: absolute;
  right: 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nagivate-buttons-container {
  position: absolute;
  bottom: 32px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.zoom-in-button-container {
  position: absolute;
  bottom: 32px;
  right: 8px;
}

.zoomed-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100svh;
  left: 0;
  top: 0;
  z-index: 10001;
  align-items: center;
  justify-content: center;
  background-color: rgba(75, 75, 75, 95%);
}

.zoomed-image {
  max-width: 95%;
  max-height: 95%;
  object-fit: cover;
}

.zoom-out-button-container {
  position: fixed;
  top: 32px;
  right: 32px;
}

.zoomed-left-button-container {
  position: fixed;
  top: 0;
  left: 32px;
  height: 100%;
  align-items: center;
  pointer-events: none;
}

.zoomed-right-button-container {
  position: fixed;
  top: 0;
  right: 32px;
  height: 100%;
  align-items: center;
  pointer-events: none;
}
