.header-container {
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: rgb(30 30 30);
  max-height: 70px;
  height: 70px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.matcha-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.github-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-right: 8px;
}
