.header-container {
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: rgb(30 30 30);
  max-height: 70px;
  height: 70px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-container {
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.matcha-icon {
  height: 100%;
  width: 100%;
}

.icon-container .overlay {
  color: transparent;
  user-select: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.github-icon {
  height: 100%;
  width: 100%;
}
