.custom-keyboards-container {
  flex: 1;
  margin: 64px 128px;
}

.custom-keyboards-container .title {
  font-size: 3rem;
}

.text-card {
  padding: 16px;
  margin: 8px 0;
}

.text-card p {
  text-align: center;
}

.keyboard-card-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.keyboard-card {
  margin: 8px;
  padding: 16px;
  height: fit-content;
}

.keyboard-card h2 {
  font-size: 1.5rem;
}

.keyboard-card p.not-fulfilled {
  font-style: italic;
  font-size: 1.5rem;
  margin: 8px 0;
  color: #e841bd;
}

.keyboard-card .chip-group-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 0.6rem;
  margin-top: 8px;
}

.keyboard-card .chip-group-container .chip-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.keyboard-card .chip-group-container .chip-container p {
  font-weight: bold;
}

.keyboard-card .description {
  margin: 8px 0;
}

.keyboard-card .button-container {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.keyboard-card .button-container .icon-button {
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 768px) {
  .custom-keyboards-container {
    margin: 16px;
  }

  .custom-keyboards-container .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1400px) {
  .keyboard-card-container {
    grid-template-columns: 100%;
  }
}
